.card {
  min-height: 400px;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.card:hover img {
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: .7;
}

.card img {
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.member-icones {
  position: absolute;
  left: 0;
  bottom: -30%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icones {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}
